extends layout 

block content 
  h1= title 

  if developer_games.length
    p This developer will be removed from these games:
    dl
      each game in developer_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}

  p Are you sure you want to delete this developer?

  form(method='POST')
    button(type='submit') Delete Developer