extends layout 

block content 
  h1= title 

  if developer_games.length
    h2 This developer will be removed from these games:
    dl
      each game in developer_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}

  p.delete-message Are you sure you want to delete this developer?

block actions
  form(method='POST')
    button.delete(type='submit') Delete Developer