extends layout 

block content 
  h1= title 

  if game_games.length
    p This game will be removed from these games:
    dl
      each game in game_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}

  p Are you sure you want to delete this game?

  form(method='POST')
    button(type='submit') Delete Game