extends layout 

block content
  h1= title

  form#form(method='POST')
    div.form-group
      label(for='name') Name:
      input#name(type='text' name='name' required value=(genre ? genre.name : ''))
      input#prev_name(type='hidden' name='prev_name' value=prev_name)
      if errors && errors.has('name')
        p.form-error * #{errors.get('name')}

block actions  
  button.update(type='submit' form='form') Submit