extends layout 

block content 
  h1= title 

  if genre_games.length
    p This genre will be removed from these games:
    dl
      each game in genre_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}

  p Are you sure you want to delete this genre?

  form(method='POST')
    button(type='submit') Delete Genre