doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")

  body
    section.sidebar
      block sidebar
        nav
          menu 
            li 
              a(href='/inventory')
                span.material-symbols-outlined home 
                | Home
            li
              a(href="/inventory/games")
                span.material-symbols-outlined joystick
                | Games
            li
              a(href="/inventory/genres")
                span.material-symbols-outlined playing_cards
                | Genres
            li 
              a(href="/inventory/platforms")
                span.material-symbols-outlined devices
                | Platforms
            li
              a(href="/inventory/developers")
                span.material-symbols-outlined deployed_code_account
                | Developers
            li
              a(href="/inventory/publishers")
                span.material-symbols-outlined import_contacts
                | Publishers
            hr
            li
              a(href="/inventory/game/create")
                span.material-symbols-outlined add_circle
                | Add Game
            li
              a(href="/inventory/genre/create")
                span.material-symbols-outlined add_circle
                | Add Genre
            li 
              a(href="/inventory/platform/create")
                span.material-symbols-outlined add_circle
                | Add Platform
            li
              a(href="/inventory/developer/create")
                span.material-symbols-outlined add_circle
                | Add Developer
            li
              a(href="/inventory/publisher/create")
                span.material-symbols-outlined add_circle
                | Add Publisher

    main 
      section.content
        block content

      section.actions
        block actions