extends layout 

block content 
  h1= title 

  if platform_games.length
    h2 This platform will be removed from these games:
    dl
      each game in platform_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}

  p.delete-message Are you sure you want to delete this platform?

block actions
  form(method='POST')
    button.delete(type='submit') Delete Platform