* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  --primary-color: white;
  --secondary-color: #121212;
  --tertiary-color: #0d6efd;
  --tertiary-color-alt: #0b60df;
  --quaternary-color: #cdd5dd;
  --shadow-color: rgba(0, 0, 0, .2);
  --danger-color: #dc3545;
  --danger-color-alt: #bd2130;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-color: #2b2b2b;
    --secondary-color: rgb(241, 241, 241);
    --tertiary-color: #0b60df;
    --tertiary-color-alt: #0d6efd;
    --quaternary-color: #444444;
    --shadow-color: rgba(255, 255, 255, .2);
    --danger-color: #bd2130;
    --danger-color-alt: #dc3545;
  }
}

body {
  background-color: var(--quaternary-color);
  display: flex;
}

.sidebar {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  background-color: var(--tertiary-color);
  box-shadow: .5rem 0 .5rem var(--shadow-color);
  height: 100%;
  width: 2.4rem;
  transition: width .3s;
}

.sidebar:hover {
  width: 12rem;
}

nav {
  gap: .5rem;
}

nav menu {
  display: flex;
  flex-direction: column;
  list-style: none;
}

nav menu hr {
  margin: .4rem 0
}

nav menu li a {
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  line-height: 0;
  padding: .5rem 1.5rem .5rem .5rem;
  font-weight: bold;
  text-wrap: nowrap;
  transition: background-color .2s;
}

nav menu li a:hover {
  background-color: var(--tertiary-color-alt);
}

nav menu li a.active {
  background-color: var(--tertiary-color);
}

main {
  width: 100%;
  margin: 2rem 5rem;
}

.content {
  position: relative;
  z-index: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 2rem;
  box-shadow: 0 0 1rem var(--shadow-color);
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin: 1rem 1rem .2rem;
  font-size: 1.2rem;
}

p {
  margin: 0 2rem
}

.delete-message {
  margin: 1.5rem 0 0;
  font-weight: bold;
}

ul li {
  margin: .5rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  gap: .5rem;
  align-items: flex-start;
  margin-left: 1rem;
}

.actions button {
  border: none;
  border-radius: 0 0 0 .5rem;
}

.actions a {
  display: block;
  color: var(--primary-color);
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0 0 0 .5rem;
}

.update a,
.delete a {
  transition: all .2s;
}

.update a {
  background-color: var(--tertiary-color);
}

.update a:hover {
  background-color: var(--tertiary-color-alt);
}

.update a:active {
  background-color: var(--tertiary-color);
}

.delete a {
  background-color: var(--danger-color);
}

.delete a:hover {
  background-color: var(--danger-color-alt);
}

.delete a:active {
  background-color: var(--danger-color);
}

.update a:hover,
.delete a:hover {
  padding-top: 1.5rem;
}