* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  --primary-color: white;
  --secondary-color: #121212;
  --tertiary-color: #0d6efd;
  --tertiary-color-alt: #0b60df;
  --quaternary-color: #cdd5dd;
  --shadow-color: rgba(0, 0, 0, .2);
  --danger-color: #dc3545;
  --danger-color-alt: #bd2130;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-color: #2b2b2b;
    --secondary-color: rgb(241, 241, 241);
    --tertiary-color: #0b60df;
    --tertiary-color-alt: #0b54c2;
    --quaternary-color: #444444;
    --shadow-color: rgba(255, 255, 255, .2);
    --danger-color: #bd2130;
    --danger-color-alt: #921421;
  }
}

body {
  background-color: var(--quaternary-color);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  background-color: var(--tertiary-color);
  box-shadow: .5rem 0 .5rem var(--shadow-color);
  max-width: 2.4rem;
  transition: max-width .3s;
}

.sidebar:hover {
  max-width: 12rem;
}

nav {
  gap: .5rem;
}

nav menu {
  display: flex;
  flex-direction: column;
  list-style: none;
}

nav menu hr {
  margin: .4rem 0
}

nav menu li a {
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  line-height: 0;
  padding: .5rem 1.5rem .5rem .5rem;
  font-weight: bold;
  text-wrap: nowrap;
  transition: background-color .2s;
}

nav menu li a:hover {
  background-color: var(--tertiary-color-alt);
}

nav menu li a.active {
  background-color: var(--tertiary-color);
}

main {
  margin: 2rem 5rem;
}

.content {
  position: relative;
  z-index: 1;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 2rem;
  box-shadow: 0 0 1rem var(--shadow-color);
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin: 1rem 1rem .2rem;
  font-size: 1.2rem;
}

p {
  margin: 0 2rem
}

.delete-message {
  margin-top: 3rem;
  font-weight: bold;
}

ul {
  margin-left: 1rem;
}

ul li {
  margin: .5rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

dl {
  margin: .5rem 2rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: .2rem 1rem 1rem;
}

a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  gap: .5rem;
  align-items: flex-start;
  margin-left: 1rem;
}

/* .actions button {
  border: none;
  border-radius: 0 0 0 .5rem;
  cursor: pointer;
}

.actions a {
  display: block;
  color: var(--primary-color);
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0 0 0 .5rem;
} */

.update,
.delete {
  display: block;
  color: var(--primary-color);
  border: none;
  border-radius: 0 0 0 .5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s;
}

.update {
  background-color: var(--tertiary-color-alt);
}

.update:hover {
  background-color: var(--tertiary-color);
}

.update:active {
  background-color: var(--tertiary-color);
}

.delete {
  background-color: var(--danger-color-alt);
}

.delete:hover {
  background-color: var(--danger-color);
}

.delete:active {
  background-color: var(--danger-color);
}

.update:hover,
.delete:hover {
  padding-top: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  margin: 1rem 0;
}

.form-group label:not(.form-check label) {
  font-weight: bold;
  font-size: 1.1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: .5rem;
  border: 1px solid var(--tertiary-color);
  border-radius: 1rem;
  font-size: inherit;
  font-family: inherit;
}

.form-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-left: 1rem;
}

.form-check input {
  margin-right: .3rem;
}

.form-error {
  color: var(--danger-color);
  font-weight: bold;
  margin: .2rem 0;
}